@charset 'UTF-8';
.footer img {
	max-height:64px;
}
.footer span {
	padding-left:2em;
	padding-right:2em;
}
.share {
	padding-bottom:1em;
}
li.separador span {
	background-color:#e8e8e8;
	padding-top:5em;
	border-radius:100%;
	box-shadow:0em 0em 0.2em 0.5em #e8e8e8;
}

